  form {
                display: flex;
                flex-direction: column;
            }

            .chatDiv {
                visibility: hidden;
            }

.hidden {
    visibility: hidden;
}